################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/linked_list/.vs/linked_list/v15
