################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/linked_list/.vs/linked_list/v15
/linked_list/Debug
/linked_list/x64/Debug
/linked_list/main.obj
/linked_list/main.exe
/linked_list/linked_list.vcxproj.user
/linked_list/linked_list.vcxproj.filters
/linked_list/linked_list.vcxproj
/linked_list/linked_list.sln
/linked_list/linked_list.obj

.vscode
*dSYM*
